.login-FormDiv > form > p > label { /* Django label styling */
    font-size: 1rem;
    padding-left: 1rem;
} 

.login-FormDiv > form > p { /* Django paragraph styling */
    background-color: #cccccc;
    font-size: 1.3rem;
}

.login-SubmitButton { /*Button styling*/
    align-self: center;
}

.registrationLinkDiv {
    text-align: right;
}

.registration-Link:link, .registration-Link:active, .registration-Link:visited {
    text-decoration: none;
    font-size: 1.1rem;
    color: #164d7d;
}

.registration-Link:hover {
    color: #b72748;
}

/* Styles for smaller screens */
@media (max-width: 991.98px) and (min-width: 576px) {
    .login-Wrapper {
        font-size: 1.4rem;
    }
}

@media (max-width: 575.98px) {
    .login-Wrapper {
        font-size: 1rem!important;
    }

    .login-Wrapper_Form { /* Remove padding to make text fill whole avaliable width*/
        padding: 1em 0!important;
    }
}