@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');

/* Utility Styles */

/* Padding styles */
.p-0 {
	padding: 0!important;
}
.p-2 {
	padding: 2em!important;
}
.p-05 {
	padding: 0.5rem!important;
}
.pt-2 {
	padding-top: 2em!important;
}
.pb-1 {
	padding-bottom: 1rem!important;
}
.pb-2 {
	padding-bottom: 2rem!important;
}
.pl-1 {
	padding-left: 1rem!important;
}

/* Margin syles */
.m-auto {
	margin: auto!important;
}
.m-0 {
	margin: 0!important;
}
.m-1 {
	margin: 1!important;
}
.mb-1 {
	margin-bottom: 1rem!important;
}
.mt-2 {
	 margin-top: 2em!important;
 }
/* -------------------------- */

/* Other utility styles. */
.ta-center {
	text-align: center;
}
/* List utility styles. */
.lst-none {
	list-style-type: none;
}
/* Links utility styles */
.td-none {
	text-decoration: none;
}
/* Color utility styles */
.bgc-black {
	background-color: #000000;
}
.c-white {
	color: white;
}
/* ---------------------- */

/* Font styles */
.fs-1 {
	font-size: 1rem!important;
}
/* ----------------------- */

/* General styles. */
html, body {
	height: 100%;
}

body {
	font-family: 'JetBrains Mono', monospace;
    background: #164d7d;
}

ul, ol {
	list-style-type: none;
}

.Hidden {
	display: none;
}

/* Some strange problem with bootstrap row margin. If not 0 at base level, then some bugs happen.
But the strange thing is, when use margin on rows in other css files, re-writing this margin-0, then no bugs happen.
So till this is unfixed bug, margin for bootsrap row will be set to zero at base css level.*/
.row {
	margin: 0;
}

.Wrapper {
	height: 100%;
	width: 100%;
    font-size: 1.8rem; 
	display: flex;
	flex-direction: column;
	padding: 0!important;
	background-color: #f3f7fa;
}

.Link {
	text-decoration: none;
}

.IconImg {
	width: 30px;
}

.IconP {
	display: inline;
}
/* -------------------------------- */

/* Style for Content div below the header. */
.Content {
	flex: 1 0 auto;
}


/* -------------------------------- */

/* Header */
.Navbar {
	background-color: #164d7d;
	font-size: 1.25rem;
	font-weight: 600;
	padding: 0;
}

/* -------------------------------- */

/* Form styles */
.BasicForm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.FieldDiv {
	width: 100%;
}

.FormErrors {
    font-size: 1rem;
    color: #b72748;
	font-weight: bold;
}
/* -------------------------------- */

/* Text styles */
.TextInput {
	width: 100%;
    margin-bottom: 1rem;
    background-color: #cccccc;
    outline: none;
    border: none;
}
/* ---------------------------------- */

/* Button styles */

.SubmitButton {
    border: none;
    padding: 0.25rem 0.75rem;
	font-size: 1.2rem;
	color: white;
	background-color: #164d7d;
}

.SubmitButton:hover {
    background-color: #112538;
}

.logout-SubmitButton {
	border: none;
	background-color: white;
	font-weight: inherit;
	flex: 1;
	text-align: start;
}

/* ---------------------------------------- */

/* Logo styles. */
.bs-LogoDiv_Header {
	display: flex;
	flex: 1;
	height: 135px;
	align-items: center;
	justify-content: flex-start;
	padding: 0 1em 0;
}

.bs-LogoImg {
	max-height: 115px;
	padding: 7px 0 7px;
}

/* -------------------------------- */

/* Styles for hamburger button. */
.HamburgerButton {
	height: 50px;
	width: 50px;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.HamburgerButton:hover {
	background-color: #505050;
}

.HamburgerImg {
	max-height: 50px;
}

.navbar-toggler:focus {
	box-shadow: none;
}

/* -------------------------------- */

/* Styles for close button in side menu. */
.btn-close:hover{
	background-color: transparent;
	color: #000000;
	box-shadow: none;
}

/* Rule to make div with nav-items take 90% of 
   free space while of navbar on big screens.
   Logo takes the rest 10%.
*/
.SidebarDiv {
	flex: 90%;
}

/* -------------------------------- */

/* Styles for header and body of side menu. */
.SidebarHeaderDiv {
	background-color: white;
	color: black;
}

.SidebarBodyDiv {
	padding: 0;
	background-color: #164d7d;
}

/* -------------------------------- */


/* Styles for nav-items. */
.NavItemLi {
	background-color: white;
}

.NavItemLi:hover {
	background-color: #112538;
}

/* -------------------------------- */

/* Styles for NavLinks. */
.NavLink, .NavLink:active, .NavLink:focus {
	color: black;
}

.NavLink:hover {
    color: white;
}

/* -------------------------------- */

/* Footer */
.Footer {
	z-index: 1029 !important;
	height: fit-content;
	flex-shrink: 0;
	font-size: 1rem;
	background-color: #164d7d;
}

.FooterDiv {
	background-color: #164d7d;
	padding: 1em 1em 0 1em;
}

.ListDiv_Footer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.bs-LogoDiv_Footer {
	text-align: center;
	margin: auto;
}

.bs-IconP {
	color: black;
}

.FooterLink {
	color: white;
}

.FooterLink:hover {
	color: white;
}

.CopyrightP{
	font-size: 0.75em;
	color: white;
	text-align: center;
	margin: 0.5rem 0 0.5rem;
}

/* ------------------------------- */

/* Styles when moving from medium to large screen */

@media (min-width: 992.01px) {
	.NavLink {
		padding: 0.5em 0.675em !important;
	}
}

/* ------------------------------- */

/* Styles for page when it's < lg size */
@media (max-width: 991.98px) {

	.NavItemLi {
		background-color: #164d7d ;
		color: white;
	}

	.NavLink, .NavLink:focus, .NavLink:active, .NavLink:hover {
		color: white;
	}

	.NavLink {
        padding: 0.5rem 1rem!important;
	}

	.IconImg {
		width: 1em;
	}

}

/* Styles for extra small displays */
@media (max-width: 575.98px) {

	/* Main styles */
	.Content {
		font-size: 0.75rem;
	}
	/* ------------------------------ */
	
	/* Header styles */
	.Navbar {
		height: 100px;
	}

/* -------------------------------- */

	/* Logo styles. */
	.bs-LogoDiv_Header {
		display: flex;
		flex: 1;
		height: fit-content;
		align-items: center;
		justify-content: flex-start;
		padding: 0;
	}

	.bs-LogoImg{
		max-height: 75px;
	}	

/* -------------------------------- */	

	/* Footer styles */
	.Footer {
		font-size: 0.75rem;
	}

	.ListDiv_Footer {
		padding: 1em 0 1em;
	}

	.IconImg {
		width: 1em;
	}

	.SubmitButton {
		font-size: inherit;
	}
}

/* ---------------------------------------------- */

@media (max-width: 250px) {
	.bs-IconImg {
		display: none;
	}
	.bs-IconP {
		color: black;
	}
}

/* ---------------------------------------------- */