.category-Div:hover {
    background: #164d7d;
    color: white;
}

.category-Link {
    position: absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
}

.category-Description {
    font-size: 1rem;
}