.product-Description {
    font-size: 1rem;
}

.card-footer {
    font-size: 1rem;
}

.products-SubmitButton{
    font-size: 1rem;
}

.quantity {
    display: flex;
    overflow: hidden;
    font-size: 0.8rem;
  }
  
.product-quantity{
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem;
}