{% load static %}
<html lang="ru">
    <head>
        <meta name="description"
              content="Псковский блог студентов ИИН">
        <meta name="keywords"
              content="blog, students, programming">
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1">
        <link rel="preconnect"
              href="https://fonts.googleapis.com"
              crossorigin="anonymous">
        <link rel="preconnect"
              href="https://fonts.gstatic.com"
              crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap"
              rel="stylesheet"
              crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>
        <link rel="stylesheet"
              type="text/css"
              href="{% static '_core/css/base.css' %}">
        <title>pesb</title>
    </head>
    <body>
        <div class="Wrapper">
            <!-- Header -->
            <nav class="Navbar navbar navbar-expand-lg">
                <div class="container-fluid justify-content-between">
                    <div class="bs-LogoDiv_Header"
                         href="#">
                        <a href="{% url 'home' %}">
                            <img class="bs-LogoImg"
                                 src="{% static '_core/images/icons/logo_trans.png' %}"
                                 alt="">
                        </a>
                    </div>
                    <button class="navbar-toggler HamburgerButton"
                            type="button"
                            data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar"
                            aria-controls="offcanvasNavbar">
                        <img class="HamburgerImg"
                             src="{% static '_core/images/icons/hamburger.png' %}"
                             alt="">
                    </button>
                    <div class="SidebarDiv offcanvas offcanvas-end"
                         tabindex="-1"
                         id="offcanvasNavbar"
                         aria-labelledby="offcanvasNavbarLabel">
                        <div class="SidebarHeaderDiv offcanvas-header">
                            <h5 class="offcanvas-title"
                                id="offcanvasNavbarLabel">Меню</h5>
                            <button type="button"
                                    class="btn-close text-reset"
                                    data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                        </div>
                        <div class="SidebarBodyDiv offcanvas-body justify-content-center">
                            <div class="ListDiv_Header">
                                <ul class="bgc-black NavbarUl navbar-nav justify-content-center flex-grow-1 p-0 m-0">
                                    <li class="NavItemLi nav-item">
                                        <a class="NavLink nav-link"
                                           href="{% url 'home' %}">Главная</a>
                                    </li>
                                    <li class="NavItemLi nav-item">
                                        <a class="NavLink nav-link"
                                           href="{% url 'blog:feed' %}">Новости</a>
                                    </li>
                                    <li class="NavItemLi nav-item">
                                        <a class="NavLink nav-link"
                                           href="#">Аккаунт</a>
                                    </li>
                                    <li class="NavItemLi nav-item">
                                        <a class="NavLink nav-link"
                                           href="{% url 'blog:contacts' %}">Связь</a>
                                    </li>
                                    <li class="NavItemLi nav-item">
                                        <a class="NavLink nav-link"
                                           href="{% url 'blog:about' %}">О нас</a>
                                    </li>
                                    <li class="NavItemLi nav-item">
                                        <a class="NavLink nav-link"
                                           href="{% url 'shop:catalog' %}">Каталог</a>
                                    </li>
                                    {% if user.is_authenticated and not user.is_superuser and not user.is_stuff %}
                                        <li class="NavItemLi nav-item">
                                            <a class="NavLink nav-link"
                                               href="{% url 'shop:cart' %}">Корзина</a>
                                        </li>
                                        <li class="NavItemLi nav-item">
                                            <a class="NavLink nav-link"
                                               href="{% url 'shop:order-list' %}">Мои заказы</a>
                                        </li>
                                    {% endif %}
                                    {% if user.is_stuff or user.is_superuser %}
                                        <li class="NavItemLi nav-item">
                                            <a class="NavLink nav-link"
                                               href="{% url 'shop:order-management' %}">Заказы</a>
                                        </li>
                                    {% endif %}
                                    {% if user.is_authenticated %}
                                        <li class="nav-item NavItemLi">
                                            <form class="m-0 d-flex"
                                                  action="{% url 'users:logout' %}"
                                                  method="post">
                                                {% csrf_token %}
                                                <input type="submit"
                                                       class="NavLink nav-link NavItemLi logout-SubmitButton"
                                                       value="Выйти">
                                            </li>
                                        </form>
                                    {% else %}
                                        <li class="NavItemLi nav-item">
                                            <a class="NavLink nav-link"
                                               href="{% url 'users:login' %}">Войти</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="Content">
                {% block content %}
                {% endblock content %}
            </div>
            <!-- Footer -->
            <footer class="Footer">
                <div class="FooterDiv container-fluid">
                    <div class="CopyrightDiv">
                        <p class="CopyrightP">Copyright 2023 All Rights Reserved PESB</p>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
