/* Core styles */
.about-Wrapper_White {
    background-color: white;
}

.about-Wrapper_Blue {
    background-color: #bbdffe;
}

.about-Wrapper_Red {
    background-color: rgb(254, 222, 222);
}

/* Image styles */
.about-ImageDiv {
    text-align: center;
    padding: 1em 0 1em;
}

.about-Image {
    width: 275px;
    max-width: 100%;
    height: auto;
}

/* Text styles */
.about-TextDiv-pdr, .about-TextDiv-pdl {
    height: min-content;
}

.about-TextDiv-pdr {
    text-align: left;
}
/* Responsive styles */

@media (max-width: 575.98px) {
    .about-TextDiv-pdr h1, .about-TextDiv-pdl h1{
        text-align: center;
    }

    .about-Wrapper_Blue {
        /* When small make picture go before text in partucular cases */
        flex-direction: column-reverse;
    }

    .Wrapper {
        font-size: 1.1rem!important;
    }

    .row {
        padding: 0!important;
    }
    
}

/* Large to small */
@media (max-width: 991.98px) and (min-width: 576px) {
    .Wrapper {
        font-size: 1.4rem!important;
    }
}

@media (min-width: 576px) {

    /* Main block styles */
    
        .about-TextDiv-pdr{
            padding-right: 5%;
        }
    
    }
    
@media (min-width: 768px) {

/* Main block styles */

    .about-TextDiv-pdr {
        padding-right: 10%;
    }

    .about-TextDiv-pdl {
        padding-left: 5%;
    }
}

@media (min-width: 992px) {

/* Main block styles */

    .about-TextDiv-pdr {
        padding-right: 15%;
    }

}

@media (min-width: 1200px) {

/* Main block styles */

    .about-TextDiv-pdr {
        padding-right: 20%;
    }

    .about-TextDiv-pdl {
        padding-left: 10%;
    }
}

@media (min-width: 1400px) {

/* Main block styles */

    .about-TextDiv-pdr {
        padding-right: 25%;
    }

}

@media (min-width: 1600px) {

/* Main block styles */

    .about-TextDiv-pdr {
        padding-right: 30%;
    }

    .about-TextDiv-pdl {
        padding-left: 15%;
    }
}