.post-Summary {
    font-size: 1rem;
}

.post-Footer {
    font-size: 1rem;
}

.post-Link {
    position: absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
}

.post-Div:hover {
    background: #164d7d;
    color: white;
}

.blog-Wrapper {
    background: #f3f7fa;

}

.blog-InfoImage {
    width: 100%;
}

.blog-InfoTextDiv {
    padding-left: 5rem;
    text-align: center;
}

@media (max-width: 575.98px) {
    .blog-InfoTextDiv{
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .blog-InfoImageDiv {
        padding-left: 0;
        padding-right: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .blog-Info {
        /* When small make picture go before text in partucular cases */
        flex-direction: column;
        align-items: center;
    }

    .Wrapper {
        font-size: 1.1rem!important;
    }

    .row {
        padding: 0!important;
    }
    
    .blog-InfoImage {
        width: 75%;
    }
}


/* Large to small */
@media (max-width: 991.98px) and (min-width: 576px) {
    .Wrapper {
        font-size: 1.4rem!important;
    }
}

.create_post-Button {
    background-color: #164d7d;
    border-radius: 0;
    border: none;
}

.create_post-Button:hover {
    background-color: #112538;
}


.create_post-Button:link, .create_post-Button:active, .create_post-Button:visited {
    text-decoration: none;
    font-size: 1.1rem;
	box-shadow:none;
    border: none!important;
    background-color: #164d7d;

}
