/* || General styles */

.contacts-TextParagraph { /* To make p not take whole width */
    width: 40%;
}

.ContactsUl {
    font-size: 1.1rem;
}

/* Button styles */

.contacts-Form {
    width: min-content;
    margin: auto;
}

.contacts-ListItem {
    margin: 0.25rem;
}

/* ------------------------------------------ */

@media (max-width: 575.98px) { 
/* Bootstrap xs < 576px but max-width is <= 576, so i needed to use 575.98 for simultanious changes*/
    /* General styles */
    .contacts-Wrapper {
        font-size: 1.1rem;
    }

    /* ------------------------------------------ */
    .contacts-Wrapper_Text { /* Remove padding to make text fill whole avaliable width*/
        padding: 1em 0!important;
    }
    .contacts-TextParagraph { /* Make text take up whole width of parent div */
        width: inherit;
    }
}