.post_creation-FormDiv > form > p > label { /* Django label styling */
    font-size: 1rem;
    padding-left: 1rem;
} 

.post_creation-FormDiv > form > p { /* Django paragraph styling */
    background-color: #cccccc;
    font-size: 1.3rem;
}


.post_creation-SubmitButton { /*Button styling*/
    align-self: center;
}
