{% extends "_core/base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'blog/css/about.css' %}">
    <div class="Wrapper">
        <div class="row about-Wrapper_White p-2">
            <div class="col-xs-12 col-sm-4">
                <div class="about-ImageDiv">
                    <img class="about-Image"
                         src="{% static 'blog/images/about/man.png' %}"
                         alt="">
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 d-flex align-items-center">
                <div class="about-TextDiv-pdr">
                    <h1 class="pb-1">Публикуйся</h1>
                    <p>Здесь ты можешь публиковать свои статьи и открытия. Не стесняйся делиться знаниями!</p>
                </div>
            </div>
        </div>
        <div class="row about-Wrapper_Blue justify-content-center p-2">
            <div class="col-xs-12 col-sm-8 d-flex align-items-center">
                <div class="about-TextDiv-pdl">
                    <h1 class="pb-1">Гордись</h1>
                    <p>Дай знать всем чего ты достиг в своей сфере! Напиши пост о своих последних достижениях, и все узнают об этом.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="about-ImageDiv">
                    <img class="about-Image"
                         src="{% static 'blog/images/about/woman.png' %}"
                         alt="">
                </div>
            </div>
        </div>
        <div class="row about-Wrapper_Red p-2">
            <div class="col-xs-12 col-sm-4">
                <div class="about-ImageDiv">
                    <img class="about-Image"
                         src="{% static 'blog/images/about/people.png' %}"
                         alt="">
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 d-flex align-items-center">
                <div class="about-TextDiv-pdr">
                    <h1 class="pb-1">Общайся</h1>
                    <p>
                        Оставляй комментарии, делись опытом и впечатлениями. Наша цель - создать место, где студенты смогу делиться своими открытиями и достижениями, улучшая знания друг друга.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
