{% extends "_core/base.html" %}
{% block content %}
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
            integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"
            crossorigin="anonymous"
            async></script>
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'blog/css/blog.css' %}">
    <div class="Wrapper blog-Wrapper">
        <div class="row p-5 blog-Info">
            <div class="col-lg-4 col-sm-6 text-center">
                <div class="blog-InfoImageDiv">
                    <img class="blog-InfoImage"
                         src="{% static '_core/images/landing_images/blog_info.png' %}"
                         alt="">
                </div>
            </div>
            <div class="col-lg-8 col-sm-6 align-self-center">
                <div class="blog-InfoTextDiv">
                    <p>
                        Здесь ты можешь найти самые свежие публикации от студентов ПсковГУ!
                        Нажми на карточку чтобы открыть полное содержание поста или
                        на кнопку чтобы написать свой пост!
                    </p>
                    <div>
                        <a class="btn btn-primary create_post-Button"
                           href="{% url 'blog:post_creation' %}">Создать</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"
             data-masonry='{"percentPosition": true }'>
            {% for post in post_list %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card m-2 post-Div">
                        <a class="post-Link" href={{ post.get_absolute_url }}></a>
                        <img src=""
                             class="card-img-top"
                             alt="">
                        <div class="card-body">
                            <h5 class="card-title fw-bolder">{{ post.title }}</h5>
                            <p class="card-text post-Summary">{{ post.summary }}</p>
                        </div>
                        <div class="card-footer post-Footer d-flex justify-content-between">
                            <small>{{ post.updated|date:"M d, Y" }}</small>
                            <small>{{ post.author }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
