{% extends "_core/base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'blog/css/contacts.css' %}">
    <div id="contacts-Wrapper"
         class="contacts-Wrapper Wrapper">
        <div class="row p-2">
            <div class="col-xs-12 d-flex flex-column justify-content-center align-items-center">
                <div class="contacts-TextDiv d-flex flex-column align-items-center">
                    <h1 class="pb-1">Свяжитесь с нами!</h1>
                    <p class="contacts-TextParagraph ta-center">
                        По этим контактам вы можете связаться с нами. Пишите по всем интересующим вопросам.
                    </p>
                </div>
            </div>
        </div>
        <div class="row pb-1">
            <div class="col-xs-12 col-md-6 d-flex flex-column align-items-center pb-2">
                <h3 class="fw-bold text-center">Менеджер</h3>
                <ul class="ContactsUl p-0 m-0">
                    <li class="contacts-ListItem">
                        <i>
                            <img class="bs-IconImg IconImg" src="{% static "_core/images/icons/telephone.svg" %}" alt="">
                        </i>
                        <p class="bs-IconP IconP">+7-996-947-35-85</p>
                    </li>
                    <li class="contacts-ListItem">
                        <i>
                            <img class="bs-IconImg IconImg" src="{% static "_core/images/icons/envelope.svg" %}" alt="">
                        </i>
                        <p class="bs-IconP IconP">njt55cs@gmail.com</p>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-6 d-flex flex-column align-items-center">
                <h3 class="fw-bold text-center">Команда разработки</h3>
                <ul class="ContactsUl p-0 m-0">
                    <li class="contacts-ListItem">
                        <i>
                            <img class="bs-IconImg IconImg" src="{% static "_core/images/icons/telephone.svg" %}" alt="">
                        </i>
                        <p class="bs-IconP IconP">+7-996-947-35-85</p>
                    </li>
                    <li class="contacts-ListItem">
                        <i>
                            <img class="bs-IconImg IconImg" src="{% static "_core/images/icons/envelope.svg" %}" alt="">
                        </i>
                        <p class="bs-IconP IconP">njt55cs@gmail.com</p>
                    </li>
                    <li class="contacts-ListItem">
                        <i>
                            <img class="bs-IconImg IconImg" src="{% static "_core/images/icons/github.svg" %}" alt="">
                        </i>
                        <p class="bs-IconP IconP">
                            <a href="https://github.com/nylinary"
                               target="_blank">GitHub</a>
                        </p>
                    </li>
                    <li class="contacts-ListItem">
                        <i>
                            <img class="bs-IconImg IconImg" src="{% static "_core/images/icons/telegram.svg" %}" alt="">
                        </i>
                        <p class="bs-IconP IconP">
                            <a href="https://t.me/nylinary"
                               target="_blank">Telegram</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
