{% extends "_core/base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'blog/css/home.css' %}">
    <div id="mn-Wrapper"
         class="mn-Wrapper Wrapper">
        <div class="row justify-content-between mn-Wrapper_Content p-2">
            <div class="col-xs-12 col-sm-4 m-auto">
                <div class="mn-ImageDiv">
                    <img class="mn-Image"
                         src="{% static 'blog/images/home/character.png' %}"
                         alt="">
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 d-flex align-items-center">
                <div class="mn-TextDiv">
                    <h1 class="mn-Header ta-center mb-1">Добро пожаловать!</h1>
                    <p>
                        Присоединяйся к нашему студенческому блогу, где мы публикуем свои статьи, рассказываем о личных проектах и достижениях или просто делимся знаниями!
                    </p>
                    <form class="mn-Form BasicForm"
                          method="get"
                          action="{% url 'blog:feed' %}">
                        <input class="mn-SubmitButton SubmitButton"
                               type="submit"
                               value="Начать">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
