{% extends "_core/base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'blog/css/post.css' %}">
    <div class="post-Wrapper Wrapper">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="post-Div p-3">
                    <h1 class="post-Header pb-2">{{ post.title }}</h1>
                    <p>{{ post.content }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
