{% extends "_core/base.html" %}
{% block content %}
    {% load static %}
    {% load widget_tweaks %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'blog/css/post_creation.css' %}">
    <div class="post-Wrapper Wrapper">
        <div class="row login-Wrapper_Form p-2">
            <div class="col-sm-12">
                <div class="post_creation-FormDiv d-flex flex-column align-items-center justify-content-center">
                    <form class="BasicForm"
                          enctype="multipart/form-data"
                          method="post"
                          action="">
                        {% csrf_token %}
                        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                        {% for field in form.visible_fields %}
                            {% with label_id=field.id_for_label %}
                                <p class="FieldDiv mb-3">
                                    <label for={{ field.id_for_label }}>
                                        {{ field.label }}:
                                    </label>
                                    {% if label_id == "id_title" %}
                                        {{ field|add_class:"post-TitleInput TextInput pl-1" }}
                                    {% elif label_id == "id_summary" %}
                                        {{ field|add_class:"post-SummaryInput TextInput pl-1" }}
                                    {% elif label_id == "id_content" %}
                                        {{ field|add_class:"post-ContentInput TextInput pl-1" }}
                                    {% endif %}
                                </p>
                                {% if field.errors %}<div class="FormErrors p-0 m-0">{{ field.errors }}</div>{% endif %}
                            {% endwith %}
                        {% endfor %}
                        <input class="SubmitButton post_creation-SubmitButton"
                               type="submit"
                               value="Сохранить">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
