{% extends "_core/base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet"
          href="{% static 'shop/css/cart.css' %}">
    <script src="{% static 'shop/js/cart.js' %}"
            type="module"></script>
    <div class="Wrapper products-Wrapper">
        <div class="row"
             data-masonry='{"percentPosition": true }'>
            <div class="row g-0">
                <div class="col-lg-8">
                    <div class="p-5">
                        <div class="d-flex justify-content-between align-items-center mb-5">
                            <h1 class="fw-bold mb-0 text-black">Корзина</h1>
                            <h6 class="mb-0 text-muted">{{ products_list.count }} покупки</h6>
                        </div>
                        <hr class="my-4">
                        {% for product, quantity in products_list %}
                            <div class="row mb-4 d-flex justify-content-between align-items-center">
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    <img src={{ product.image.url }} class="img-fluid rounded-3" alt="Cotton T-shirt">
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <h6 class="text-muted">{{ product.name }}</h6>
                                    <h6 class="text-black mb-0">{{ product.description }}</h6>
                                </div>
                                <div class="col-md-5 col-lg-4 col-xl-4 d-flex">
                                    <div class="quantity d-flex flex-row">
                                        {% comment %} <button class="minus products-SubmitButton SubmitButton"
         aria-label="Decrease">&minus;</button> {% endcomment %}
                                        <p class="product-quantity ps-2 pe-2">{{ quantity }}</p>
                                        <p class="product-info"
                                           price="{{ product.price }}"
                                           quantity="{{ quantity }}"
                                           slug="{{ product.slug }}"></p>
                                        {% comment %} <button class="plus products-SubmitButton SubmitButton"
         aria-label="Increase">&plus;</button> {% endcomment %}
                                    </div>
                                </div>
                                <div class="col-md-1 col-lg-1 col-xl-1 offset-lg-1">
                                    <h6 class="mb-0">{{ product.price }} RUB</h6>
                                </div>
                            </div>
                            <hr class="my-4">
                        {% endfor %}
                        <div class="pt-5">
                            <h6 class="mb-0">
                                <a href="{% url 'shop:catalog' %}"
                                   class="text-body">В каталог</a>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="p-5">
                        <h3 class="fw-bold mb-5 mt-2 pt-1">Заказ</h3>
                        <hr class="my-4">
                        <h5 class="text-uppercase mb-3">Промокод</h5>
                        <div class="mb-5">
                            <div data-mdb-input-init
                                 class="form-outline">
                                <input type="text"
                                       id="checkoutForm"
                                       class="form-control form-control-md" />
                            </div>
                        </div>
                        <hr class="my-4">
                        <div class="d-flex justify-content-between mb-5">
                            <h5 class="text-uppercase">Всего</h5>
                            <h5 id="total">{{ total }}</h5>
                            <h5>RUB</h5>
                        </div>
                        <form class="mn-Form BasicForm"
                              method="get"
                              action="{% url 'shop:checkout' %}">
                            <input class="mn-SubmitButton SubmitButton"
                                   type="submit"
                                   value="Оформить заказ">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
