{% extends "_core/base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet"
          href="{% static 'shop/css/catalog.css' %}">
    <div class="Wrapper catalog-Wrapper">
        <div class="row justify-content-center">
            {% for category in product_category_list %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card m-2 category-Div h-100">
                        {% if category.children.all %}
                            <a class="category-Link" href={{ category.get_children_url }}></a>
                        {% else %}
                            <a class="category-Link" href={{ category.get_products_url }}></a>
                        {% endif %}
                        <img src={{ category.image.url }} class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-name fw-bolder">{{ category.name }}</h5>
                            <p class="card-text category-Description">{{ category.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
