{% extends "_core/base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet"
          href="{% static 'shop/css/orders.css' %}">
    <div class="Wrapper catalog-Wrapper">
        <div class="row justify-content-center">
            {% for order, description in orders_list %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card m-2 category-Div h-100">
                        <div class="card-header">
                            <h5 class="card-name fw-bolder">Заказ №{{ order.id }}</h5>
                        </div>
                        <div class="card-body">
                            {% for pd in description %}<p class="m-0">{{ pd }}</p>{% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
