{% extends "_core/base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet"
          href="{% static 'shop/css/products.css' %}">
    <script src="{% static 'shop/js/products.js' %}"
            type="module"></script>
    <div class="Wrapper products-Wrapper">
        <div class="row justify-content-center">
            {% for product in products_list %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="card m-2 product-Div h-100 product">
                        <img src={{ product.image.url }} class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-name fw-bolder">{{ product.name }}</h5>
                            <p class="card-text product-Description">{{ product.description }}</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between flex-column">
                            <p>{{ product.price }}</p>
                            <div hidden
                                 class="quantity">
                                {% comment %} <button class="minus products-SubmitButton SubmitButton" aria-label="Decrease">&minus;</button> {% endcomment %}
                                <p class="product-quantity ps-2 pe-2">0</p>
                                {% comment %} <button class="plus products-SubmitButton SubmitButton" aria-label="Increase">&plus;</button> {% endcomment %}
                            </div>
                            <a class="add-to-cart-link" slug={{ product.slug }}>
                                <button class="products-SubmitButton SubmitButton">В корзину</button>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
