{% extends "_core/base.html" %}
{% block content %}
    {% load static %}
    {% comment %} Set css classes to django forms auto-generaged fields {% endcomment %}
    {% load widget_tweaks %}
    <link rel="stylesheet"
          href="{% static 'users/css/login.css' %}">
    <div class="Wrapper login-Wrapper">
        <div class="row login-Wrapper_Form p-2">
            <div class="col-sm-12">
                <div class="login-FormDiv d-flex flex-column align-items-center justify-content-center">
                    <h1 class="pb-1">Войти</h1>
                    <p id="WarningMessage"></p>
                    <form class="BasicForm"
                          enctype="multipart/form-data"
                          method="post"
                          action="">
                        {% csrf_token %}
                        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                        {% for field in form.visible_fields %}
                            {% with label_id=field.id_for_label %}
                                <p class="FieldDiv mt-3 mb-0">
                                    <label for={{ field.id_for_label }}>
                                        {{ field.label }}:
                                    </label>
                                    {% if label_id == "id_username" %}
                                        {{ field|add_class:"UsernameInput TextInput pl-1" }}
                                    {% elif label_id == "id_password" %}
                                        {{ field|add_class:"PasswordInput TextInput pl-1" }}
                                    {% endif %}
                                </p>
                                {% if field.errors %}<div class="FormErrors p-0 m-0">{{ field.errors }}</div>{% endif %}
                            {% endwith %}
                        {% endfor %}
                        <div class="registrationLinkDiv mb-3">
                            <a class="registration-Link"
                               href="{% url 'users:registration' %}">Зарегистрироваться</a>
                        </div>
                        <input class="SubmitButton login-SubmitButton"
                               type="submit"
                               value="Войти">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
