{% extends "_core/base.html" %}
{% block content %}
    {% load static %}
    {% load widget_tweaks %}
    <link rel="stylesheet"
          href="{% static 'users/css/registration.css' %}">
    <div class="Wrapper registration-Wrapper">
        <div class="row registration-Wrapper_Form p-2">
            <div class="col">
                <div class="registration-FormDiv d-flex flex-column align-items-center justify-content-center">
                    <h1 class="pb-1">Регистрация</h1>
                    <p id="WarningMessage"></p>
                    <form class="registration-Form BasicForm"
                          enctype="multipart/form-data"
                          method="post"
                          action="">
                        {% csrf_token %}
                        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                        {% for field in form.visible_fields %}
                            {% with label_id=field.id_for_label %}
                                <p class="mb-3 FieldDiv">
                                    <label for={{ field.id_for_label }}>
                                        {{ field.label }}:
                                    </label>
                                    {% if label_id == "id_email" %}
                                        {{ field|add_class:"EmailInput TextInput pl-1" }}
                                    {% elif label_id == "id_username" %}
                                        {{ field|add_class:"UsernameInput TextInput pl-1" }}
                                    {% elif label_id == "id_password1" or label_id == "id_password2" %}
                                        {{ field|add_class:"PasswordInput TextInput pl-1" }}
                                    {% else %}
                                        {{ field|add_class:"TextInput pl-1" }}
                                    {% endif %}
                                </p>
                                {% if field.errors %}<div class="FormErrors p-0 m-0">{{ field.errors }}</div>{% endif %}
                            {% endwith %}
                        {% endfor %}
                        <input class="registration-SubmitButton SubmitButton"
                               type="submit"
                               value="Зарегистрироваться">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
